<html>
	<head>
		<title>Active Agents</title>
    <meta charset="UTF-8">
		<!-- This links your static CSS file -->
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</meta>
</head>
	<body>
		<div class="parent-container">
			<div class="left-box">
				<h1>Active Agents</h1>
					<p>
					{% for x in z %}
					<h2> {{ x }}: <a href="http://localhost:8080/admin/{{x}}">Interact</a></h2>
					{% endfor %}
					</p>
			</div>
			<div class="right-box">
				<h1>Stale Agents</h1>
					<p>
						{% for x in s %}
						<h2> {{ x }}: <a href="http://localhost:8080/admin/stale/{{x}}">View</a></h2>
						{% endfor %}
					<p>
			</div>
		</div>
	</body>
</html>


